:root {
    --mkwii: #28acf3
} html {
    background-image: url(/img/checkerboard-white.png)
} body {
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-top: 1em;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.1s
} .container {
	background-color: white;
	border: 1px solid var(--mkwii);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
	max-width: 800px;
	margin: 0 auto
} #top {
    background: radial-gradient(var(--mkwii) 0%, #28acf300 40%);
    border-bottom: 1px solid var(--mkwii)
} h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    text-align: center;
    text-shadow: 2px 0 0 var(--mkwii),-2px 0 0 var(--mkwii),0 2px 0 var(--mkwii),0 -2px 0 var(--mkwii),1px 1px var(--mkwii),-1px -1px 0 var(--mkwii),1px -1px 0 var(--mkwii),-1px 1px 0 var(--mkwii)
} #footer {
    background: #eaeaea;
    box-shadow: inset 0px 1px 1px 0px rgba(73,73,73,0.1);
    color: #4A4A4A;
    padding: 5px;
    text-align: center;
    font-size: small
} p {
    padding: 5px
} a {
    text-decoration: none
} a:hover {
    text-decoration: underline
} ol, ul {
    margin-top: -10px
} li {
    margin-left: -10px;
    padding-right: 5px
} @media only screen and (max-width: 800px) {
    body {
        margin-top: 0;
        padding: 0;
        transition: all 0.1s
    }
}