html {
    background: url(bg.jpg)}

body {
    font-family: Verdana, Arial, sans-serif;
    margin: 1em auto 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.1s}
@media only screen and (max-width: 800px) {
    body {
        margin-top: 0;
        padding: 0;
        transition: all 0.1s}}

.container {
	background: #fff;
	border: 1px solid #28aCF3;
    box-shadow: 0 3px 10px 0 #0005;
	margin: 0 auto;
    max-width: 800px}

#top {
    background: radial-gradient(#28aCF3 0%, #28aCF300 25%);
    border-bottom: 1px solid #28aCF3}

h1 {
    text-align: center;
    text-shadow: 2px 0 0 #28aCF3, -2px 0 0 #28aCF3, 0 2px 0 #28aCF3, 0 -2px 0 #28aCF3, 1px 1px #28aCF3, -1px -1px 0 #28aCF3, 1px -1px 0 #28aCF3, -1px 1px 0 #28aCF3}

p {
    padding: 5px}

ol, ul {
    margin-top: -10px}

li {
    margin-left: -10px;
    padding-right: 5px}

a {
    text-decoration: none}
a:hover {
    text-decoration: underline}

#footer {
    background: #eee;
    box-shadow: inset 0 1px 1px 0 #0002;
    color: #444;
    padding: 5px;
    text-align: center;
    font-size: small}